h1
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
.bvn
    {
        text-align: center;
        margin-top: 15px;
    }

.db-error
    {
        margin-top: 25px;
    }

.bi-trash, .bi-pencil
    {
        padding: 5px 8px;
        margin: -5px -8px;
        transition : 0.15s ease;
    }
.bi-trash:hover, .bi-pencil:hover
    {
        border-radius: 100px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
    }

.bi-trash
    {
        color: #d61a1a;
    }
.bi-trash:hover
    {
        background: #ffebeb;
    }
.bi-trash:active
    {
        background: #e5d5d5;
    }
.bi-pencil
    {
        color: #0088ff;
    }
.bi-pencil:hover
    {
        background: #e3f0ff;
    }
.bi-pencil:active
    {
        background: #c9d5e4;
    }

.img-thumbnail
    {
        max-height: 120px;
        transition:
            scale 0.25s ease,
            padding 0.15s ease;
    }

.img-thumbnail:hover
    {
        scale: 175%;
        transition:
            scale 0.35s ease,
            padding 0.25s ease;
        padding: 0;
    }

.form-group > label
{
    margin-top: 10px;
    font-weight: bold;
}

.nav-title
{
    text-align: center;
    align-content: center;
    color: #5e5e5e;
    font-weight: 600;
    background-color: #eeeeee;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: default;
    margin-right: 5px;
}

.nav-sepration
{
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    height: 40px;
    width: 4px;
    margin-left: 17px; margin-right: 25px;
}

select, option, ::-webkit-inner-spin-button
    {
        cursor: pointer;
    }

::selection
    {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }
