h1
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
.bvn
    {
        text-align: center;
        margin-top: 15px;
    }

.bi-trash
    {
        color: #d61a1a;
        /*padding: 3px 6px;
        background: #ffebeb;
        border-radius: 100px;*/
    }
.bi-pencil
    {
        color: #0088ff;
    }

.img-thumbnail
    {
        max-height: 120px;
        transition:
            scale 0.25s ease,
            padding 0.15s ease;
    }

.img-thumbnail:hover
    {
        scale: 175%;
        transition:
            scale 0.35s ease,
            padding 0.25s ease;
        padding: 0;
    }

.form-group > label
{
    margin-top: 10px;
    font-weight: bold;
}

.nav-title
{
    text-align: center;
    align-content: center;
    color: #5e5e5e;
    font-weight: 600;
    background-color: #eeeeee;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: default;
    margin-right: 5px;
}

.nav-sepration
{
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    height: 40px;
    width: 4px;
    margin-left: 17px; margin-right: 25px;
}
