h1
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
.bvn
    {
        text-align: center;
        margin-top: 15px;
    }
.bi-trash
    {
        color: #d61a1a;
        /*padding: 3px 6px;
        background: #ffebeb;
        border-radius: 100px;*/
    }
