h1
    {
        margin-top: 15px;
        margin-bottom: 30px;
    }
.bvn
    {
        text-align: center;
        margin-top: 15px;
    }
.bi-trash
    {
        color: #d61a1a;
        /*padding: 3px 6px;
        background: #ffebeb;
        border-radius: 100px;*/
    }
.img-thumbnail
    {
        max-height: 120px;
        transition:
            scale 0.25s ease,
            padding 0.15s ease;
    }

.img-thumbnail:hover
    {
        scale: 175%;
        transition:
            scale 0.35s ease,
            padding 0.25s ease;
        padding: 0;
    }
